@page
@model IndexModel
@{
    ViewData["Title"] = "Battleships";
}

<div class="text-center">
    <h1 class="display-4">Battleships</h1>
    <button onclick="window.location.href='/NewGame'">New Game</button>
    
    <ul>
        @foreach (var game in Model.OngoingGames)
        {
            <li>
                <div>
                    @Html.Display(game.Name)
                </div>
            </li>
        }
    </ul>
</div>